.header {
  color: $text-primary;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid $border-color;
  padding: 16px 0;
  transition: all 0.3s ease;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba($white, 0.1);
    box-shadow: none;
  }
  @include media-breakpoint-up(md) {
    padding: 20px 0;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
