.title {
  color: $text-primary;
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 32px;
  letter-spacing: -0.5px;
  font-family: $font-family-heading;
  position: relative;
  display: inline-block;

  @include media-breakpoint-up(md) {
    font-size: 3rem;
    letter-spacing: -0.8px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 3.4rem;
    letter-spacing: -1px;
  }
}
